.container{
    display: inline block;
    background-color: blue;
    width: 200px;
    height: 200px;
    padding: 80px;
    margin: 20px;
}
p{
    margin: 50px;
}

.container{
    display: inline block;
    background-color: blue;
    width: 200px;
    height: 200px;
    padding: 80px;
    margin: 20px;
}
p{
    margin: 50px;
}.container{
    display: inline block;
    background-color: blue;
    width: 200px;
    height: 200px;
    padding: 80px;
    margin: 20px;
}
p{
    margin: 50px;
}
