*{
    margin: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.glavni{
    background-color: aquamarine;
    width: 100vw;
    height: 200vw;
    
}
.box1{
    background-color: red;
    width: 100px;
    height: 100px;
    /* position: staticdefaultna vrednost pozicioniranja; */
    position: relative;
    top: 50px;
    left: 300px;
}
.box2{
    background-color: rgb(93, 0, 255);
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0px;
    left: 0px;
    
}.box3{
    background-color: rgb(0, 255, 21);
    width: 100px;
    height: 100px;
    position: fixed;
    top: 0px;
    right: 0px;
}.box4{
    background-color: rgb(255, 225, 0);
    width: 100px;
    height: 100px;
    left: 100px;
    position: sticky;
    top: 130px;
}
.box5{
    background-color: rgba(255, 0, 0, 0.465);
    width: 100px;
    height: 100px;
    position: relative;
    left: 100px;
    z-index: 2;
    
}
