body{
    background-color:azure;
    font-size: 13px;

}

.main{
    margin: 50px auto;
    width: 400px;
    height: 600px;
    background-color: rgba(0, 255, 255,1);
    opacity: 0.9;
    border-top-left-radius: 15px;
    border: 2px solid blueviolet;
    box-shadow:4px;
    

}
.main img{
    width: 400px;
    height: 200px;
    border-top-left-radius: 15px;
    border: top right radius 15px;
}
.main img:hover{
    content: url(./slika.jpg.jpg );
}
.main h1{
    text-align: center;
    /* text-transform: uppercase; */
    /* text-transform: lowercase; */
    /* text-transform: capitalize; */
    /* text-transform: none; */
    /* text-transform: inherit; */
    text-transform:uppercase
    
}

.main h3{
    padding-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    text-transform: capitalize;
    
}

.main p{
    padding-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    /* text-align:center */
    /* text-align:left */
    /* text-indent:20px */
    /* text-align-right */

}
.main p:hover{
    background-color: crimson;
    border: bottom left radius 15px;
    border-bottom-right-radius: 15px;
/* table tr:last-child
/* table tr:first-of-child */}
/* table tr:nth-child(){background: fixed;} */



