*{
    margin: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
img{
    height: auto;
    width: 80px;
    float: left;
}
.glavni{
    background-color: blue;
    height: 300px;
    width: 400px;
    float: left;
}

.box{
    background-color: brown;
    float: right;
    margin: 20px;
    text-align: left;
}