.StyledForm {
  width: 200px;
  height: 50px;
  color: white;
  background-color: black;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  /* border-block-start-style: dashed; */
  /* display: block; */
}
label {
  display: block;
}
input {
  display: block;
}
