
#icon{
    color: red;
    background-color: aquamarine;
    margin: 5px 7px 5px 7px;
    
}
.glavni :nth-of-type(1){
    background-color: aquamarine;
    margin: 50px;
    height: 500px;
    width: 700px;
    /* overflow: hidden;gubi se text koji izlazi iz okvira visine kontejnera  */
    /* overflow: scrolldodaje opciju scrolla ya visinu i sirinu; */
    /* overflow: scroll auto;dodaje visinu i sirinu kad aj e to potrebno */
    /* overflow-y: scroll;specificno za osu y dodajw scroll */
    /* display: none ovaj metod u potpunosti brise odredjeni sadrzaj */
    /* visibility: hidden;ovaj metod zauzima prostor na stranici medjutim nevidljiv je sadrzaj */
}
.glavni:nth-of-type(2){
    background-color: rgb(255, 127, 176);
    margin: 50px;
    height: 500px;
    width: 700px;
    }
